
[Server]
host = server.themanaworld.org
port = 6901

[Player]
username = user
password = pass
charname = Char

[Other]
online_txt_url = http://server.themanaworld.org/online.txt
chatlog_dir = /tmp/mana
use_mobile_interface = no
